body {
  font-family: 'League Spartan';
}
/* Cor de fundo e textos */
.bg-body {
    background-color: #001d2f !important;
  }
  
  .text-light {
    color:#e3cbbc;
  }
  
  /* Estilos do container de cadastro */
  .cadastro-container {
    max-width: 800px;
    margin-bottom: 100px;
    background-color: #001d2f !important;
  }
  
  .card-body {
    background-color: #001d2f !important;
  }
  /* Títulos */
  .header-title {
    font-family: 'League Spartan', sans-serif;
    color: #e3cbbc;
    font-weight: bold;
    font-size: 19px;
    text-align: left;
  }
  
  .section-title {
    font-family: 'League Spartan', sans-serif;
    color: #e3cbbc;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
  }
  
  /* Campos de entrada */
  .text-input {
    background-color: #0c344b;
    color:#e3cbbc;
    border-radius: 15px;
    border: none;
    padding: 5%;
    border: 2px solid transparent; /* Inicialmente, a borda é transparente */
  }

  /* Estilo para o placeholder */
.text-input::placeholder {
    color:  #e3cbbc; /* Cor do placeholder */
    opacity: 0.7; /* Opacidade do placeholder */
    font-family: 'League Spartan';
  }
  

  /* Estilo para o campo quando estiver em foco */
.text-input:focus {
    background-color: #12445d; /* Cor de fundo diferente para o campo em foco */
    color: #e3cbbc; /* Cor do texto enquanto digita */
    outline: none; /* Remove a borda padrão do foco */
    border: 2px solid #e3cbbc; /* Borda da mesma cor do texto */
  }
  
  /* Rodapé fixo com botão de cadastro */
  .footer {
    background-color: #021c2d;
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }
  
  .btn-cadastrar {
    background-color: #021c2d;
    color: #1a4a67;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-cadastrar:hover {
    color: #e3cbbc;
  }
  
  #nome {
min-width: 100%;
  width: 100%; /* Preenche toda a largura do container pai */
  max-width: 400px; /* Define uma largura máxima para o input */
  padding: 3%; /* Ajuste o padding conforme desejado */
  border-radius: 15px; /* Arredonda as bordas */
  background-color: #0c344b; /* Cor de fundo do input */
  color:#e3cbbc; /* Cor do texto */
  transition: border 0.3s; /* Transição suave para a borda */
  font-family: 'League Spartan';
}

#nome:focus {
    border: 2px solid #e3cbbc; /* Mantém a borda da mesma cor do texto ao focar */
    outline: none; /* Remove a borda padrão do foco */
  }
  
  /* Estilo para o placeholder do input do nome */
  #nome::placeholder {
    color:  #e3cbbc; /* Cor do placeholder */
    opacity: 0.7; /* Opacidade do placeholder */
  }

 /* Estilizando o container do checkbox */
 .form-check {
    display: flex; /* Flexbox para alinhar o checkbox e a label */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 15px; /* Espaçamento entre checkboxes */
    margin-left: 1%;
}

/* Estilizando o input do checkbox */
.form-check-input {
    appearance: none; /* Remove a aparência padrão */
    width: 20px; /* Largura do checkbox */
    height: 20px; /* Altura do checkbox */
    border: 2px solid #15567b; /* Cor da borda */
    border-radius: 4px; /* Bordas arredondadas */
    position: relative; /* Para permitir posicionar a marca de verificação */
    margin-right: 10px; /* Espaçamento entre o checkbox e a label */
    cursor: pointer; /* Muda o cursor ao passar sobre */
    background-color: #0c344b; /* Cor de fundo */
}

/* Estilizando o estado de foco */
.form-check-input:focus {
    outline: none; /* Remove a borda padrão do foco */
    border-color: #ffffff; /* Cor da borda ao focar */
}

/* Estilizando a marca de verificação */
.form-check-input:checked {
    background-color:#15567b; /* Cor de fundo quando verificado */
    border-color: #15567b; /* Cor da borda quando verificado */
}

/* Adicionando o ícone de check apenas quando o checkbox está verificado */
.form-check-input:checked::after {
    position: absolute; /* Posiciona absolutamente */
    top: 50%; /* Alinha verticalmente no meio */
    left: 50%; /* Alinha horizontalmente no meio */
    transform: translate(-50%, -50%); /* Centraliza o ícone */
    font-size: 16px; /* Tamanho do ícone de check */
    color: #0c344b; /* Cor do ícone de check */
}

.form-check-label {
    font-family: 'League Spartan';
    font-size: 1em;
    text-align: center;
    color:  #e3cbbc !important; /* Cor do placeholder */
    opacity: 0.7; /* Opacidade do placeholder */
    margin-top: 1%;
} 

/* Estilo para o select quando o usuário não interage ainda */
select {
  color: #e3cbbc !important;         /* Cor mais clara para o texto */
  font-family: 'League Spartan';  /* Estilo de itálico para simular o placeholder */
  opacity: 0.7; 
  background-color: #0c3952 !important;
}

.flatpickr-calendar {
  background-color: #e3cbbc; /* Cor de fundo */
  border: 1px solid #555; /* Cor da borda */
  color:#001d2f; /* Cor das letras */
  font-family: 'League Spartan', sans-serif; /* Fonte do calendário */
}

.flatpickr-day {
  background-color: #e3cbbc;
  color: #001d2f;
  border-radius: 50%; /* Dias mais arredondados */
  margin: 2px;
}

.flatpickr-day:hover {
  background-color: #021c2d; /* Cor de hover */
  color: #e3cbbc; /* Cor do texto ao passar o mouse */
}

/* Dias selecionados */
.flatpickr-day.selected {
  background-color: #0c3952; /* Azul do Bootstrap */
  color: #e3cbbc;
  font-weight: bold;
  border: none;
}

.error-message {
  position: fixed; /* Fixa o aviso na tela */
  top: 80%; /* Distância do topo */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajuste para centralizar exatamente */
  background-color: #f8d7da; /* Cor de fundo (aviso de erro) */
  color: #721c24; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  border: 1px solid #f5c6cb; /* Borda do aviso */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
  z-index: 9999; /* Garante que o aviso fique acima de outros elementos */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  opacity: 1;
  transition: opacity 0.5s ease; /* Animação suave */
}

.error-message.hide {
  opacity: 0;
}

#error-message {
  display: none; /* Inicialmente oculta */
}

@media (max-width: 480px) {
  .form-check-label {
  font-family: 'League Spartan';
  font-size: 0.7em;
  text-align: center;
  color:  #e3cbbc !important; /* Cor do placeholder */
  opacity: 0.7; /* Opacidade do placeholder */
  margin-top: 2%;
  }

  input[type="date"] {
    display: block; /* Exibe o input de data padrão */
  }

  /* Se o dispositivo tiver uma largura de tela menor que 768px (por exemplo, dispositivos móveis) */
  @media (max-width: 768px) {
  .flatpickr-calendar {
      display: none !important; /* Esconde o calendário do flatpickr */
  }

  input[type="date"] {
      display: block; /* Exibe o input de data padrão */
  }
}

/* Para telas maiores, o flatpickr funciona normalmente */
@media (min-width: 769px) {
  input[type="date"] {
      display: none; /* Esconde o input de data padrão */
  }

  .flatpickr-calendar {
      display: block; /* Exibe o calendário do flatpickr */
  }
}

}

::-webkit-scrollbar {
  width: 8px;   /* Largura da barra de rolagem */
  height: 12px;  /* Altura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #e3ccbc; /* Cor do polegar */
  border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-track {
  background-color: #e3ccbc; /* Cor de fundo da barra */
}

/* Estilos para Firefox */
html {
  scrollbar-width: thin; /* Barra fina */
  scrollbar-color: #e3ccbc #e3ccbc; /* Cor do polegar e do fundo */
}
