
    /* Estilo para os contêineres de ingressos e snacks */
.carrinho-section {
    margin-bottom: 20px;
}
.carrinho-section h3 {
    font-size: 1.3em;
    font-family: 'League Spartan';
    margin-left: 1%;
}

/* Linha de separação entre as seções */
.section-divider {
    border-top: 2px solid #e3cbbc;
    margin: 30px 0;
}


/* Estilo para exibir itens lado a lado */
.item-carrinho {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    padding: 10px;
    margin-right: 1%;
}

/* Card de ingressos e produtos do snack */
.card {
    background-color: #001d2f;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    min-height: unset;
    margin:  1px 0;;
    width: 100%; /* Define o layout de cada card */
    color: #e3cbbc;
    font-family: 'League Spartan';
    height: 10%;
}


/* Imagem do produto */
.card-img-right {
    border-radius: 15px;
    width: 50%;
    height: auto;
    object-fit: cover;
}

.card-img-left {
    border-radius: 15px;
    width: 40%;
    height: auto;
    object-fit: contain;
}

.btn-danger {
    background-color: #001d2f;
    border: none;
    color:#e3cbbc;
}

.btn-danger:hover {
    background-color: transparent;
    color:#a90101;
}

.btn-secondary {
    background-color:#01456e;
    border:#e3cbbc solid 2px;
    color:#e3cbbc;
    font-family: 'League Spartan';
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 50%;
    padding: 1px 10px;
}

.btn-secondary:hover {
    border: #e3cbbc solid 2px;
    background-color: #e3ccbc;
    color:#01456e;
    font-family: 'League Spartan';
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 50%;
    padding: 1px 10px;

}

.fixed-bottom {
    padding-top: 15%;
}

.container-principal {
    flex-grow: 1; /* Faz com que o conteúdo ocupe o espaço restante */
    padding-bottom: 200px; /* Ajuste o valor conforme necessário para evitar que o conteúdo seja coberto pelo footer */

}

/* Estilos para telas menores */
@media (max-width: 768px) {
    /* Ajuste a exibição dos itens no carrinho */
    .item-carrinho {
        display: inline-block !important;
        vertical-align: top !important;
        width: 48% !important; /* Metade da largura com margem */
        padding: 5px !important;
        margin-right: 2% !important;
    }

    /* Ajuste para o último card na linha não ter margem à direita */
    .item-carrinho:nth-child(2n) {
        margin-right: 0 !important;
    }

    /* Ajuste os cartões de ingressos e snacks */
    .card {
        flex-direction: column !important; /* Alinhar conteúdo verticalmente */
        text-align: center !important; /* Centralizar conteúdo */
        width: 100% !important; /* Cards ajustados à largura do contêiner */
    }

    /* Imagem dos produtos */
    .card-img-right, .card-img-left {
        width: 100% !important;
        height: auto !important;
    }
}

::-webkit-scrollbar {
    width: 8px;   /* Largura da barra de rolagem */
    height: 12px;  /* Altura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: #e3ccbc; /* Cor do polegar */
    border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-track {
    background-color: #e3ccbc; /* Cor de fundo da barra */
}

/* Estilos para Firefox */
html {
    scrollbar-width: thin; /* Barra fina */
    scrollbar-color: #e3ccbc #e3ccbc; /* Cor do polegar e do fundo */
}