
.img-container {
    border-radius: 5%;
    overflow: hidden;
    height: 400px; /* Defina a altura desejada aqui */
  }
  
  .img-container img {
    width: 100%;
    height: 100%; /* Mantém a altura do contêiner */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
    display: block;
    border-radius: 30px;
  }
  
  .carousel-caption-text {
    font-family: 'Heavitas', sans-serif;
    color: #ffffff;
    text-align: left;
    width: 90%;
    font-size: 2.5em; /* Para o h5 */
    text-transform: uppercase;
    margin-bottom: 10px; /* Margem abaixo do h5 */
}

.assista-text {
    font-family: 'League Spartan', sans-serif;
    color: #ffffff;
    text-align: left;
    width: 90%;
    font-size: 1.5em; /* Tamanho do h1 */
    font-weight: bolder;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px; /* Aumente conforme necessário para mover o h1 mais para baixo */
}


  /* Personalização das setas */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: transparent; /* Cor de fundo das setas */
    border-radius: 50%; /* Tornar as setas redondas */
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 10%; /* Ajuste a largura das setas */
  }
  
  .carousel-control-prev {
    left: 1%; /* Posição da seta esquerda */
    color:  #e3cbbc;
  }
  
  .carousel-control-next {
    right: 1%; /* Posição da seta direita */
  }
  .film-slider {
    position: relative;
    width: 80%; /* Ajuste conforme necessário para caber na tela */
    margin: 0 auto;
    overflow: hidden; /* Oculta cards que não estão visíveis */
    margin-bottom: 10%;
    left: -2%;
}

.film-items {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(100% + 15px); /* Ajuste a largura total, adicione a margem */
}

.film-card {
    flex: 0 0 22%; /* Cada card ocupa cerca de 22% da largura */
    margin: 0 5px; /* Margem para dar espaçamento entre os cards */
    text-align: center;
    position: relative;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s; /* Efeito de transição ao passar o mouse */
  
}

.film-card:hover {
    background-color: #e3cbbcbd;

}

.film-card img {
    width: 100%;
    height: 250px; /* Defina uma altura consistente para as imagens */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
    border-radius: 5px;
}
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  color:#e3cbbc; /* Cor do texto */
  border: none; /* Remove a borda */
  padding: 10px 15px; /* Ajuste do preenchimento */
  font-size: 1.5rem; /* Tamanho do texto */
  cursor: pointer; /* Cursor pointer */
  border-radius: 50%; /* Torna as setas redondas */
  transition: background-color 0.3s, transform 0.3s; /* Animação suave */
  z-index: 1; /* Para garantir que as setas fiquem acima dos cards */
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Muda a cor ao passar o mouse */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.film-items {
    display: flex;
    transition: transform 0.5s ease;
}


.film-card {
  flex: 0 0 20%; /* Cada card ocupa 20% da largura do contêiner */
  margin: 0 15px; /* Espaço entre os cards */
  padding: 0;
  background-color:#242f7490;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  overflow: hidden;
  text-align: center;
  min-width: 150px; /* Define uma largura mínima para manter a legibilidade */
  max-width: 20%; /* Limita a largura máxima */
}
.film-card:hover {
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.film-modal {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.film-modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative; /* Para posicionar o botão de fechar */
}

.film-close {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #333; /* Cor do X */
}

.button-modal {
  margin: 15px 0;
}

.info-button {
  background-color: #007bff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.info-button:hover {
  background-color: #0056b3;
}

.ticket {
  position: relative; /* Necessário para o posicionamento absoluto */
  display: flex;
  flex-direction: column; /* Coloca ícone e label em coluna */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center;    /* Centraliza horizontalmente */
  width: 500px;          /* Largura do ticket (ajuste conforme necessário) */
  height: 100px;         /* Altura do ticket (ajuste conforme necessário) */
  background-color: #f0f0f0; /* Cor de fundo do ticket */
  border-radius: 10px;   /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
  margin: 20px auto;     /* Centraliza horizontalmente */
  padding: 30px;
}

.ticket i {
  font-size: 70px; /* Tamanho do ícone */
  color: #007bff;  /* Cor do ícone */
  width: 50%;
}

.ticket-label {
  position: absolute; /* Posiciona a label em relação ao ticket */
  top: 70%;           /* Ajusta para que fique acima do ícone */
  left: 50%;          /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para que fique centralizado */
  font-size: 14px;   /* Tamanho da fonte da label */
  color: #333;       /* Cor do texto da label */
  text-align: center; /* Centraliza o texto da label */
}


.buy-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #218838;
}

.now-showing {
  padding: 20px;
  text-align: left;
}

.section-header h1 {
  font-size: 1.3rem;
  color:#e3cbbc;
  margin-top: 3%;
  margin-left: 7%;
  font-family: 'League Spartan';
  font-weight: bold;
  text-transform: uppercase;
}

.film-card img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  height: 100%;
}

.film-card h3 {
  margin-top: 10px;
  margin-bottom: 15%;
  font-size: 1.1rem;
  color:#e3cbbc;
  text-align: center;
  font-family: 'League Spartan';
  font-weight: bold;
  text-transform: uppercase;
}
 
.film-card:hover h3 {
  color:#001d2f; /* Nova cor ao passar o mouse */
}

/* Adicione regras para outros textos dentro do card se necessário */
.film-card p {
  color: #e3cbbc; /* Cor original dos parágrafos, se houver */
  transition: color 0.3s; /* Suaviza a transição de cor */
}

.film-card:hover p {
  color:#001d2f; /* Nova cor para os parágrafos ao passar o mouse */
}
.film-card p {
  margin-top: -15%;
  font-size: 1rem;
  color:#e3cbbc;
  text-align: center;
  font-family: 'League Spartan';
  font-weight: bold;

}
.film-card h4 {
  margin: -15px auto 0 auto; /* Move o <h4> ligeiramente para cima */
  font-size: 0.8rem;
  color: #e3cbbc;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  background-color: transparent;
  width: 100%; /* Garante que o <h4> ocupe a largura total do container */
  display: block;
}


.age-ratingL {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 10px;
  font-size: 0.8rem;
  background-color: #278e1d; /* Verde para "L" */
  color: #ffffff; /* Texto branco */
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}
.age-rating10 {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #00bfff;
  color: #000000;
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}
.age-rating12 {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #ffcc00;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}
.age-rating14 {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #ff9500;
  color: #000000;
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}

.age-rating16 {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #ff0000;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}

.age-rating18 {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #000000;
  color: #fffbfb;
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}
.idade-18 {
  position: absolute;
  margin-top: -30%;
  left: -20px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #000000;
  color: #fffbfb;
  border: none;
  border-radius: 3px;
  cursor: default;
  font-weight: bold;
}
.idade-L {
  position: absolute;
  margin-top: -30%;
  left: -20px;
  padding: 4px 10px;
  font-size: 0.8rem;
  background-color: #0f740a;
  color: #fffbfb;
  border: none;
  border-radius: 3px;
  cursor: default;
  font-weight: bold;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px; /* Espaço entre os cards */
}

.snack-image {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 20px;
  margin-top: -5%;
}