.img-container {
    border-radius: 5%;
    overflow: hidden;
    height: 55vh; /* Defina a altura desejada aqui */
    position: relative;
  }
  
  .img-container img {
    width: 100%;
    height: 100%; /* Mantém a altura do contêiner */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
    display: block;
    border-radius: 30px;
  }
  
  .carousel-caption-text {
    font-family: 'Heavitas', sans-serif;
    color: #ffffff;
    text-align: left;
    width: 90%;
    font-size: 2.5em; /* Para o h5 */
    text-transform: uppercase;
    margin-bottom: 10px; /* Margem abaixo do h5 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10; /* Garante que o texto fique sobre outros elementos */
}

.assista-text {
    font-family: 'Heavitas', sans-serif;
    color: #ffffff;
    text-align: left;
    width: 90%;
    font-size: 1.5em; /* Tamanho do h1 */
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px; /* Aumente conforme necessário para mover o h1 mais para baixo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


  /* Personalização das setas */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: transparent !important; /* Cor de fundo das setas */
    border-radius: 50%; /* Tornar as setas redondas */
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon:hover {
    background-color: transparent !important; /* Cor de fundo das setas */
    border-radius: 50%; /* Tornar as setas redondas */
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 10%; /* Ajuste a largura das setas */
  }
  
  .carousel-control-prev {
    left: 1%; /* Posição da seta esquerda */
  }
  
  .carousel-control-next {
    right: 1%; /* Posição da seta direita */
  }
  .film-slider {
    position: relative;
    width: 90%; /* Ajuste para permitir a exibição de 5 cards, se necessário */
    margin: 0 auto;
    overflow: hidden; /* Oculta cards que não estão visíveis */
    margin-bottom: 10%;
}
.film-items {
    display: flex;
    transition: transform 0.5s ease; /* Suaviza a transição ao mover os cards */
}

.film-card {
  flex: 0 0 calc(16% - 10px); /* Cada card ocupa 17% da largura do contêiner, permitindo 5 por vez */
  margin: 0 5px; /* Margem para dar espaçamento entre os cards */
  text-align: center;
  padding: 10px;
  background-color: #24178461;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
  transition: background-color 0.2s; /* Efeito de transição ao passar o mouse */
  position: relative;
  margin-bottom: 4%;
}

.film-card:hover {
    background-color: #e3cbbcbd; /* Muda a cor de fundo ao passar o mouse */
    /* Remover a animação de aumento da imagem */
}


.film-card img {
  width: 100%; /* Imagem ocupa 100% da largura do card */
  max-height: 55vh; /* Defina uma altura menor, se necessário */
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
  border-radius: 5px 5px 0 0; /* Canto superior arredondado */
}

.nav-button {
    position: absolute; /* Permite posicionar fora do container */
    top: 96%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta a posição vertical */
    z-index: 10; /* Garante que as setas fiquem acima de outros elementos */
    background-color: transparent; /* Fundo semitransparente */
    border: none; /* Remove a borda */
    font-size: 24px; /* Tamanho da seta */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    color: #e3cbbc; /* Cor das setas */
}

.nav-button.prev {
    left: 90%; /* Ajuste este valor conforme necessário */
}

.nav-button.next {
    right: 2%; /* Ajuste este valor conforme necessário */
}

/* Estilo do grupo de sessões */
.session-group {
  margin-bottom: 20px;
  text-align: center;
  color: #e3cbbc;
}

/* Checkbox e labels */
.session-group label {
  margin-right: 10px;
  color: #e3cbbc;
  font-size: 16px;
}

.modal-overlay { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #001d2f;
  padding: 20px;
  width: 600px; /* Aumenta a largura do modal */
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color:#e3cbbc; /* Cor do botão de fechar */
  cursor: pointer;
}

#film-title {
  font-size: 24px;
  margin-bottom: 10px;
  color:#e3cbbc; /* Cor do título do filme */
  font-family: 'League Spartan';
  font-weight: bold;
  text-transform: uppercase;
}

#film-description {
  font-size: 16px;
  margin-bottom: 20px;
  color:#e3cbbc; /* Cor da descrição do filme */
  font-weight: bold;
  font-family: 'League Spartan';
}

.session-group label {
  font-size: 16px;
  color:#e3cbbc; /* Cor dos rótulos dos ingressos */
  margin-right: 10px;
  font-family: 'League Spartan';
}

.confirm-button {
  margin-top: 20px;
  padding: 10px 80px;
  background-color: #e3cbbc; /* Cor do botão de confirmação */
  color: #001d2f; /* Cor do texto do botão de confirmação */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-family: 'League Spartan';
}

#film-room {
  font-family: 'League Spartan';
  font-size: 1em;
  color: #e3cbbc;
}


.modal-body {
  display: flex; /* Usar flexbox para alinhar imagem e texto lado a lado */
}

.modal-left {
  flex: 1; /* A imagem ocupará uma parte do modal */
  padding: 10px; /* Espaçamento interno */
}

.modal-left img {
  width: 100%; /* Tamanho da imagem do cartaz */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 10px; /* Bordas arredondadas, se desejado */
}

.modal-right {
  flex: 2; /* O texto ocupará mais espaço */
  padding: 10px; /* Espaçamento interno */
}

/* Personaliza o botão de rádio */
input[type="radio"] {
  appearance: none; /* Remove o estilo padrão */
  -webkit-appearance: none; /* Compatibilidade com WebKit */
  width: 12px; /* Tamanho do botão */
  height: 12px;
  border: 2px solid #e3cbbc; /* Borda padrão */
  border-radius: 50%; /* Formato circular */
  background-color: #001d2f; /* Fundo padrão */
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  margin-top: 10%;
}

/* Estilo ao passar o mouse */
input[type="radio"]:hover {
  border-color: #e4c2aa; /* Muda a cor da borda ao passar o mouse */
}

/* Estilo quando selecionado */
input[type="radio"]:checked {
  background-color:#104361; /* Cor de fundo ao ser selecionado */
  border-color: #e3cbbc; /* Cor da borda ao ser selecionado */
}


.now-showing {
  padding: 20px;
  text-align: left;
}

.section-header h1 {
  font-size: 1.3rem;
  color:#e3cbbc;
  margin-top: 3%;
  margin-left: 6%;
  font-family: 'League Spartan';
  font-weight: bold;
  text-transform: uppercase;
}


.film-card h3 {
  margin-top: 10px;
  margin-bottom: 15%;
  font-size: 1.1rem;
  color:#e3cbbc;
  text-align: center;
  font-family: 'League Spartan';
  font-weight: bold;
  text-transform: uppercase;
}
 
.film-card:hover h3 {
  color:#001d2f; /* Nova cor ao passar o mouse */
}

/* Adicione regras para outros textos dentro do card se necessário */
.film-card p {
  color: #e3cbbc; /* Cor original dos parágrafos, se houver */
  transition: color 0.3s; /* Suaviza a transição de cor */
}

.film-card:hover p {
  color:#001d2f; /* Nova cor para os parágrafos ao passar o mouse */
}
.film-card p {
  margin-top: -15%;
  font-size: 1rem;
  color:#e3cbbc;
  text-align: center;
  font-family: 'League Spartan';
  font-weight: bold;

}
.film-card h4 {
  margin: -20px auto 0 auto; /* Move o <h4> ligeiramente para cima */
  font-size: 0.8rem;
  color: #e3cbbc;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  background-color: transparent;
  width: 100%; /* Garante que o <h4> ocupe a largura total do container */
  display: block;
  box-shadow: none;
}

.film-card h4:hover {
  background-color: transparent;
}
.film-card {
  padding: 10px;
}

.age-ratingL {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 10px;
  font-size: 0.8rem;
  background-color: #278e1d; /* Verde para "L" */
  color: #ffffff; /* Texto branco */
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}
.age-rating10 {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #00bfff;
  color: #000000;
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}
.age-rating12 {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #ffcc00;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}
.age-rating14 {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #ff9500;
  color: #000000;
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}

.age-rating16 {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #ff0000;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}

.age-rating18 {
  position: absolute;
  bottom: 10px;
  left: 12px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #000000;
  color: #fffbfb;
  border: none;
  border-radius: 8px;
  cursor: default;
  font-weight: bold;
}
.idade-18 {
  position: absolute;
  margin-top: -30%;
  left: -20px;
  padding: 4px 6px;
  font-size: 0.8rem;
  background-color: #000000;
  color: #fffbfb;
  border: none;
  border-radius: 3px;
  cursor: default;
  font-weight: bold;
}
.idade-L {
  position: absolute;
  margin-top: -30%;
  left: -20px;
  padding: 4px 10px;
  font-size: 0.8rem;
  background-color: #0f740a;
  color: #fffbfb;
  border: none;
  border-radius: 3px;
  cursor: default;
  font-weight: bold;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px; /* Espaço entre os cards */
}

.snack-image {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 20px;
  margin-top: -9%;
}

.container-principal {
  flex-grow: 1; /* Faz com que o conteúdo ocupe o espaço restante */
  padding-bottom: 100px; /* Ajuste o valor conforme necessário para evitar que o conteúdo seja coberto pelo footer */

}

 

  /* Estilo para o texto acima das imagens */
  .footer-text {
    text-align: center;
    color:#e3cbbc;
    font-family: 'League Spartan';
    font-size: 1.2rem;
    margin-bottom: 2%;
    margin-top: -10%;
    text-transform: uppercase;
    font-weight: bold;
  }

  .footer-image-container {
    position: relative; /* Define um contexto de posicionamento para os elementos filhos */
    width: 100%;        /* A largura ocupa 100% da tela */
    height: auto;      /* Ajuste a altura do container conforme necessário */
    overflow: hidden;   /* Garante que a imagem não ultrapasse o container */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%; 
   }
  
  .footer-image-right {
    width: 80%;
    height: auto ;
    position: relative; /* Necessário para definir o z-index */
    z-index: 1;        /* Garante que a imagem fique atrás */
    border-radius: 15px;
  }
  
  .button-container {
    position: absolute; /* Posiciona os botões de forma absoluta dentro do container */
    top: 10%;           /* Ajuste a posição conforme necessário */
    left: 80%;          /* Centraliza horizontalmente */
    transform: translate(-50%, -10%); /* Ajusta o deslocamento para centralizar */
    text-align: center; /* Centraliza o texto dentro do container */
    z-index: 2;         /* Garante que os botões fiquem por cima */
    border-radius: 15px;
  }
  
  
  button {
    background-color:transparent; /* Cor de fundo do botão */
    color:#e3cbbc;              /* Cor do texto do botão */
    border: none;              /* Remove a borda do botão */
    padding: 10px 20px;        /* Preenchimento interno do botão */
    margin: 5px;               /* Espaço entre os botões */
    cursor: pointer;           /* Cursor de ponteiro ao passar o mouse sobre o botão */
    border-radius: 15px;        /* Bordas arredondadas */
    z-index: 2;                /* Garante que o botão fique por cima */
    font-family: 'League Spartan';
    font-size: 0.7em;
    border: #e3cbbc solid 1px;
    text-transform: uppercase;
    font-weight: bold;


  }
  
  button:hover {
    background-color:#e3cbbc; /* Cor de fundo quando o botão é sobrevoado */
    color: #001d2f;
  }

  a {
    text-decoration: none; /* Remove sublinhado nos links */
  }
  a .btn-1, a .btn-2 {
    display: inline-block; /* Garante alinhamento apropriado */
  }
  
  


::-webkit-scrollbar {
  width: 8px;   /* Largura da barra de rolagem */
  height: 12px;  /* Altura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #e3ccbc; /* Cor do polegar */
  border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-track {
  background-color: #e3ccbc; /* Cor de fundo da barra */
}

/* Estilos para Firefox */
html {
  scrollbar-width: thin; /* Barra fina */
  scrollbar-color: #e3ccbc #e3ccbc; /* Cor do polegar e do fundo */
}

#student-document {
  font-family: 'League Spartan', sans-serif;
  font-size: 0.9em;
  color: #e3ccbc;
}

#document-upload {
  font-family: 'League Spartan', sans-serif;
  font-size: 0.8em;
  color: #e3ccbc;

}

/* Estilos para telas pequenas (celulares) */
@media (max-width: 767px) {
  .film-card {
    flex: 0 0 calc(45% - 10px); /* Ajusta o card para ocupar 45% da largura, permitindo 2 cards por linha */
    margin: 0 5px; /* Margem entre os cards */
    margin-bottom: 10%;

  }

  .img-container {
    height: 35vh; /* Ajusta a altura da imagem no contêiner */
  }

  .film-card h3 {
    font-size: 0.9rem; /* Reduz o tamanho do título dentro do card */
  }

  .film-card p {
    font-size: 0.8rem; /* Ajusta o tamanho do texto no card */
  }

  .film-card h4 {
    font-size: 0.6rem; /* Ajusta o tamanho da legenda */
  }

    carousel-caption-text {
      font-size: 1.8em; /* Reduz o tamanho do texto em telas pequenas */
      width: 80%; /* Ajusta a largura do texto */
      left: 10%; /* Garante que o texto não saia da tela */
    }

  .assista-text {
      font-size: 1.2em; /* Reduz o tamanho do h1 em telas pequenas */
      width: 80%; /* Ajusta a largura do texto */
      left: 10%; /* Garante que o texto não saia da tela */
  }

  .carousel-caption {
      position: relative; /* Garante que o texto fique visível na tela */
      z-index: 10; /* Garante que o texto fique acima da imagem */
      padding: 20px; /* Adiciona um pouco de padding para garantir que o texto não fique muito colado nas bordas */
}

.nav-button.prev {
  left: 75%; /* Ajuste este valor conforme necessário */
}

.nav-button.next {
  right: 2%; /* Ajuste este valor conforme necessário */
}


.footer-image-container {
  display: flex; /* Usa flexbox para alinhar os itens */
  justify-content: center; /* Centraliza a imagem */
  align-items: center; /* Centraliza verticalmente */
  width: 100%; /* Ajusta a largura da imagem para 100% da tela */
  margin-bottom: 4%;
}

.footer-image-right {
  width: 90%; /* Ajusta a largura da imagem para 100% da tela */
  height: auto;
}

.button-container {
  top: 5%; /* Ajusta a posição vertical dos botões */
  left: 80%; /* Centraliza os botões horizontalmente */
  transform: translateX(-50%); /* Garante centralização correta */
}

button {
  font-size: 0.4em; /* Ajusta o tamanho da fonte do botão */
  padding: 4px 8px; /* Ajusta o tamanho do botão */
}


}
/* Ajustes para telas grandes */
@media (min-width: 1200px) {
  .carousel-caption-text {
      font-size: 3em; /* Aumenta o tamanho do texto em telas grandes */
  }

  .assista-text {
      font-size: 2em; /* Aumenta o tamanho do h1 em telas grandes */
  }
}

/* Personalização das setas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent !important; /* Cor de fundo das setas */
  border-radius: 50%; /* Tornar as setas redondas */
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%; /* Ajuste a largura das setas */
}

.carousel-control-prev {
  left: 1%; /* Posição da seta esquerda */
  color:  #e3cbbc;
}

.carousel-control-next {
  right: 1%; /* Posição da seta direita */
}


