h2 {
    font-family: 'Heavitas';
    font-size: 1.8rem;
    color:#e3cbbc;
    align-items: center;
    padding-top: 1%;
} 
h4 {
    font-family: 'Heavitas';
    font-size: 1.8rem;
    color:#e3cbbc;
    align-items: center;
    padding-top: 1%;
} 

p {
    font-family: 'League Spartan';
    color:#e3cbbc;
    font-size: 1.2rem;
    margin-top: -1%;
}

.col-md-3 {
    display: none; /* Oculta todos os produtos inicialmente */
}

@font-face {
    font-family: 'Heavitas';
    src: url('../../fonts/Heavitas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #001d2f;
    color: #e3cbbc;
    margin-top: 0;
    padding-top: 0;
}

.snack-image {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px;
}

.filter-section {
    padding: 5%;
    background-color: transparent;
}


.filter-button {
    flex-shrink: 0;
    width: 25%; /* Define o tamanho dos botões como 22% da largura */
    min-width: 20%; /* Define um tamanho mínimo para os botões */
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 10%;
    transition: all 0.3s ease; /* Suaviza as transições de transformação e sombra */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra inicial */
}

.filter-button:hover {
    transform: scale(1.1); /* Aumenta o botão em 10% */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6); /* Aumenta a sombra ao passar o mouse */
}



.filter-buttons {
    display: flex;
    gap: 4%; /* Espaço de 2% entre os botões */
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap; /* Permite que os botões quebrem em múltiplas linhas em telas pequenas */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .filter-button {
        width: 28%; /* Botões ocupam 28% da largura em tablets */
        max-width: 28%; /* Limita o tamanho máximo dos botões */
    }
}

@media (max-width: 576px) {
    .filter-button {
        width: 45%; /* Botões ocupam 45% da largura em celulares */
        max-width: 22%; /* Limita o tamanho máximo dos botões em telas pequenas */
    }
}

.filter-img {
    width: 100%; /* Garante que as imagens preencham totalmente os botões */
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.category-header {
    display: none;
    text-align: center;
    color: #e3cbbc;
    padding: 10px;
    border-top: 2px solid #e3cbbc ;
    border-bottom: 2px solid #e3cbbc;
    font-family: 'Heavitas', sans-serif;
    font-size: 1.2em;
    z-index: 1; /* Mais alto que a fila-container */
    position: relative; /* Necessário para o z-index */
}

.product-card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
    background-color: #001d2f;
    flex-direction: row; /* Certifica que a imagem está à esquerda e o texto à direita */
}

.product-image {
    border-radius: 15px;
    width: 150px;  /* Tamanho fixo para largura */
    height: 150px; /* Tamanho fixo para altura */
    object-fit: contain; /* Mantém a proporção da imagem, ajustando-a ao container */
    margin-right: 15px; /* Espaçamento entre imagem e texto */
    display: block;
    flex-shrink: 0; /* Evita que a imagem seja redimensionada */
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o texto verticalmente */
}

.card-title{
    color: #e3cbbc;
    font-family: 'League Spartan';
    font-size: 1.2em;
    margin: 0;

} 
.card-text {
    color: #e3cbbc;
    font-family: 'League Spartan';
    font-size: 1.3em;
    margin: 0;
    font-weight: bold;
}

.bi-cart-plus {
    align-items: center;
    color: #001d2f;
    font-size: 1.5em;
    background-color: #e3cbbc;
    border-radius: 10px;
}

.btn-light{
    background-color: #e3cbbc;
    border-radius: 25px;
    padding: 2% 5%
    
}
.no-products {
    color: #e3cbbc;
    text-align: center;
    font-size: 20px;
}


.fila-container {
    padding-top: 4%;
    text-align: center;
    width: 100%;
    margin-top: -5%;
    margin-bottom: -3%;
    z-index: 0; /* Mantenha isso baixo */
    position: relative; /* Necessário para o z-index */
}

.images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    border-radius: 20px;
    position: relative;
    margin-top: -5%;
}

.image-left,
.image-right {
    width: 35%; /* Define a largura como 35% */
    height: auto;
    border-radius: 5%;
    cursor: pointer;
}

.image-left {
    margin-left: 15%; /* Margem específica para a imagem da esquerda */
}

.image-right {
    margin-right: 13%; /* Margem específica para a imagem da direita */
}

.promo-container {
    margin-top: 0%;
}

.row {
    display: flex;
    justify-content: center; /* Centraliza as colunas horizontalmente */
    align-items: stretch; /* Faz com que as colunas tenham a mesma altura */
    gap: 0; /* Remove o espaçamento entre as colunas */
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo (imagem e texto) */
    text-align: center;
    margin-right: 0; /* Remove margens laterais */
}

.combo-image {
    width: 70%; /* Largura fixa para todas as imagens */
    height: 70%; /* Altura fixa para todas as imagens */
    border-radius: 5%;
    margin-bottom: 5px; /* Margem inferior */
    object-fit: cover; /* Ajusta a imagem para preencher o espaço */
}
.left-image {
    /* Estilos específicos para a imagem da esquerda */
    margin-left: 60%; /* pode ajustar a margem aqui */

}

.middle-image {
    /* Estilos específicos para a imagem do meio */
    margin-left: 5px; /* pode ajustar a margem aqui */
    margin-right: 5px; /* pode ajustar a margem aqui */
}

.right-image {
    /* Estilos específicos para a imagem da direita */
    margin-right: 60%; /* pode ajustar a margem aqui */
}

.combo-description {
    color: #e3cbbc;
    font-size: 1em;
    text-align: justify;
    margin: 0;
    max-width: 70%; /* Mesma largura da imagem */
}

.left-description{
    margin-left: 60%;
    min-width: 70%;
    max-width: 70%;
}

.right-description{
    margin-right: 60%;
    min-width: 70%;
    max-width: 70%;

}

.combo-container {
    padding: 0;
    text-align: center;
    margin-top: -2%;
}

.btn-custom{
    border-radius: 25px;
    padding: 1% 8%;
    width: 25%;
    font-family: 'League Spartan';
    font-size: 1em;
    background-color: #e3cbbc;
    color: #001d2f;
    font-weight: bold;
}

.multi-category-button:hover {
    
    transform: scale(1.1); /* Aumenta o botão em 10% */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6); /* Aumenta a sombra ao passar o mouse */

}


